- content_for :javascript do
  ! var birthday = #{birthday_to_json(@me["birthday"])};

- content_for :header do
  New Memory

= form_for @event, html: {id: "new_event"} do |f|

  - if @event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
      %ul
        - @event.errors.full_messages.each do |msg|
          %li= msg
    
  .field
    = f.label :start_date, "When?"
    %input{ type: "text", id: "start_datepicker", class: "datepicker", readonly: "readonly" }
    = f.hidden_field :start_date
    
    %span#end_date
      %a{ :href => "#" } Add end date
      = f.label :end_date, "through"
      %input{ type: "text", id: "end_datepicker", class: "datepicker hide", readonly: "readonly" }
      = f.hidden_field :end_date

  .field
    = f.label :description
    = f.text_field :description, class: "wide"

  .field
    = f.label :friends, "Who was there?"
    = f.hidden_field :friends, value: friends_to_csv(@event.friends, @current_user)
    %a#select_friends.button{href: "#"}
      %span.tag
      Tag Friends
    #friend_selector
    
  .field.checkbox
    = check_box_tag :is_favorite_memory, 1, @event.is_favorite_memory
    = label_tag :is_favorite_memory, "Add this memory to my favorites"

  .actions
    = f.submit "Create Memory", class: "submit"
